*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix{
    display: table;
    clear: both;
    content: "";
}

body{
    width: 69%;
    margin: auto;
}

.debug > main{
    width: 100%;
    height: 100%;
    margin: auto;
}

[class^="img"]{
    margin: 10px 5px 5px 5px;
}

.img1, .img2, .img3, .img4, .img5, .img6{
    height: 600px;
    float: left;
    width: 420px;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
}

.img1{
    background-image: url(./img/1.webp);
}

.img2{
    background-image: url(./img/2.webp);
}

.img3{
    background-image: url(./img/3.webp);
}

.img4{
    background-image: url(./img/4.webp);
}

.img5{
    background-image: url(./img/5.webp);
}

.img6{
    background-image: url(./img/6.webp);
}

.cuore{
    background-color: white;
    position: absolute;
    width: 35px;
    height: 35px;
    text-align: center;
    right: 0px;
    top: 15px;
    vertical-align: middle;
    display: flex;
    font-size: 22px;
    flex-direction: column;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}


.sconto{
    position: absolute;
    width: 10%;
    height: 5%;
    background-color: red;
    text-align: center;
    display: flex;
    vertical-align: middle;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    color: white;
}

.soste{
    left: 50px;
}

.soste, .soste2{
    position: absolute;
    width: 27%;
    height: 5%;
    background-color: green;
    text-align: center;
    display: flex;
    vertical-align: middle;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    color: white;
}

.soste2{
    left: 0px;
}

.sconto, .soste, .soste2{
    bottom: 20px;
    font-size: 20px;
}


.testo{
    width: 420px;
    float: left;
    margin: 0.5%;
}